*{
    margin: 0px;
    padding: 0px;
}
.home-bg{
    background: url("../img/2.jpg") no-repeat center center;
    background-size: cover;
}
.deals-bg{
    background: url("../img/8.jpg") no-repeat center center;
    background-size: cover;
}
.findtour-bg{
    background: url("../img/21.jpg") no-repeat center center;
    background-size: cover;
}
.gallery-bg{
    background: url("../img/3.jpg") no-repeat center center;
    background-size: cover;
}
.galleryItem1-bg{
    background: url('../img/4.jpg') no-repeat center center;
    background-size: cover;
}
.galleryItem2-bg{
    background: url('../img/5.jpg') no-repeat center center;
    background-size: cover;
}
.galleryItem3-bg{
    background: url('../img/6.jpg') no-repeat center center;
    background-size: cover;
}
.galleryItem4-bg{
    background: url('../img/7.jpg') no-repeat center center;
    background-size: cover;
}
.tripsItem1-bg{
    background: url('../img/12.jpg') no-repeat center center;
    background-size: cover;
}
.tripsItem2-bg{
    background: url('../img/13.jpg') no-repeat center center;
    background-size: cover;
}
.tripsItem3-bg{
    background: url('../img/14.jpg') no-repeat center center;
    background-size: cover;
}
.tripsItem4-bg{
    background: url('../img/15.jpg') no-repeat center center;
    background-size: cover;
}
.tripsItem5-bg{
    background: url('../img/16.jpg') no-repeat center center;
    background-size: cover;
}
.tripsItem6-bg{
    background: url('../img/17.jpg') no-repeat center center;
    background-size: cover;
}
.bg-151921{
    background-color:#151921;
}
.bg-438fdf{
    background-color: #438fdf;
}
.bg-f2f2f2{
    background-color: #f2f2f2;
}
.bg-47a0ff{
    background-color: #47a0ff;
}
.bg-ffffff{
    background-color: #ffffff;
}
.bg-f2f2f2{
    background-color: #f2f2f2;
}
.bg-006fe6{
    background-color: #006fe6 !important;
}
.color-ffffff{
    color:#ffffff !important;
}
.color-606060{
    color: #606060;
}
.color-black{
    color: black;
}
.color-47a0ff{
    color: #47a0ff;
}
.ff-Opensans{
    font-family: 'Open Sans', sans-serif;
}
.ff-Teko{
    font-family: 'Teko', sans-serif;
}
.fw-600{
    font-weight: 600;
}
.fw-300{
    font-weight: 300;
}
.fw-400{
    font-weight: 400;
}
.border-3d4046{
    border-bottom:2px solid #3d4046;
}
.border-left{
    border-left:2px solid #3d4046;
}
.border-d1d1d1{
    border-bottom:1px solid #d1d1d1;
}
.border-red{
    border:1px solid red;
}
.border-green{
    border:1px solid green;
}
.border-none{
    border:none;
}
.outline-none{
    outline:none;
}
.me-30{
    margin-right: 30px;
}
.mt5{
    margin-top: 5px;
}
.me-35{
    margin-right: 35px;
}
.ps-35{
    padding-left: 35px;
}
.pb-60{
    padding-bottom: 60px;
}
.px-40{
    padding-left: 40px;
    padding-right: 40px;
}
.pt-40{
    padding-top: 40px;
}
.opacity{
    opacity: 0.9;
}
.overlay{
    background-color: #47a0ff;
    opacity:0.7
}
.right-16{
    right: 16%;
}
.bottom-40{
    bottom: -40px;
}
.t-translate{
    transform: translate(50%,-50%);
}
.t-translate-1{
    transform: translate(-50%,50%);
}
.galleryItem:hover{
    transform: rotateY(360deg);
}
.transition{
    transition: all 1s ease;
}
.transition-1{
    transition: all .4s ease;
}
.br-5{
    border-radius: 5px;
}
.br-7 {
    border-radius: 7px;
}
.w-80{
    width: 80%;
}
.w-30{
    width: 30%;
}
.h-200{
    height: 200px;
}
.h-60{
    height: 60px;
}
.z-2{
    z-index: 2;
}
.fs-20{
    font-size: 20px;
}
.fs-13{
    font-size: 13px;
}
.fs-14{
    font-size: 14px;
}
.fs-16{
    font-size: 16px;
}
.fs-12{
    font-size: 12px;
}
.fs-10{
    font-size: 10px;
}
.fs-19{
    font-size: 19px;
}
.fs-15{
    font-size: 15px;
}
.fs-28{
    font-size: 28px;
}
.fs-30{
    font-size: 30px;
}
.fs-45{
    font-size: 45px;
}
.fs-25{
    font-size: 25px;
}
.fs-70{
    font-size: 70px;
}
.iflex{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height:200px;
    border-radius: 50%;
}
.iflex-FindTour{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height:100px;
    border-radius: 50%;
}
.iflex-trips{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height:400px;
}
.iflex-SocIcon{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height:45px;
    border-radius: 50%;
}
.of-cover{
    object-fit: cover;
}
.hover-deals{
    transition: .6s;
    cursor: pointer;
}
.hover-deals:hover {
    box-shadow: 0 8px 16px 0 rgba(114, 63, 161, 0.9);
}
.visibility{
    visibility: hidden;
}
.Picture:hover .visibility{
    visibility:visible;
}
.overflow{
    overflow: hidden;
}
.overflow:hover .Picture{
    transform: scale(1.1,1.1);
}
.cursor{
    cursor: pointer;
}













/* Breakpoints */


@media (max-width: 576px){
    .w100{
        width: 100%;
    }
  
}

@media (min-width: 576px){
    .fs-sm-12{
        font-size: 12px;
    }
    .fs-sm-15{
        font-size: 15px;
    }
    .fs-sm-25{
        font-size: 25px;
    }
    .fs-sm-30{
        font-size: 30px;
    }
    .fs-sm-18{
        font-size: 18px;
    }
    .fs-sm-40{
        font-size: 40px;
    }
    .fs-sm-60{
        font-size: 60px;
    }
    .h-sm-275{
        height: 275px;
    }
}

@media (min-width: 768px){
    .fs-md-25{
        font-size: 25px;
    }
    .w-md-100{
        width: 130px;
    }
}

@media (min-width: 992px){
    .fs-lg-16{
        font-size: 16px;
    }
    .fs-lg-13{
        font-size: 13px;
    }
    .fs-lg-14{
        font-size: 14px;
    }
    .fs-lg-55{
        font-size: 55px;
    }
    .fs-lg-15{
        font-size: 15px;
    }
    .fs-lg-20{
        font-size: 20px;
    }
    .fs-lg-25{
        font-size: 25px;
    }
    .fs-lg-70{
        font-size: 70px;
    }
    .fs-lg-30{
        font-size: 30px;
    }
    .fs-lg-50{
        font-size: 50px;
    }
    .fs-lg-148{
        font-size: 148px;
    }
    .bottom-lg-50{
        bottom: -50px;
    }
    .iflex-lg{
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 210px;
        height:210px;
        border-radius: 50%;
    }
    .iflex-FindTour{
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 150px;
        height:150px;
        border-radius: 50%;
    }
    .border-ffffff{
        border-left:2px solid #ffffff;
    }
    .border-bottom-2{
        border-bottom:2px solid #ffffff;
    }
    .pb-lg-60{
        padding-bottom: 60px;
    }
    .pt-lg-40{
        padding-top: 40px;
    }
    .w-lg-170{
        width: 170px;
    }
   
}

@media (min-width: 1200px){
    .fs-xl-62{
        font-size: 62px;
    }
    .fs-xl-30{
        font-size: 30px;
    }
    .fs-xl-13{
        font-size: 13px;
    }
    .fs-xl-34{
        font-size: 34px;
    }
    .fs-xl-16{
        font-size: 16px;
    }
    .iflex-xl{
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 270px;
        height:270px;
        border-radius: 50%;
    }
}

@media (min-width: 1400px){
    .fs-xxl-24{
        font-size: 24px;
    }
    .fs-xxl-15{
        font-size: 15px;
    }
    .iflex-xxl{
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 270px;
        height:270px;
        border-radius: 50%;
    }
}